body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #6504B5;
    display: flex;
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: #6504B5;
    color: blueviolet;
    text-align: center;
    margin: 0;
    bottom: 0;
}
header img {
    height: 60px;
}

.pata{
    margin: 5px 5px 0px 5px;
    filter: invert(100);
}

header h2 {
    color: white;
    font-family: 'Lobster';
    font-size: 36px;
    line-height: 12px;
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-evenly;
}



nav{
    color: white;
    font-family: 'Lobster';
    font-size: 36px;
    line-height: 0px;
}

footer nav{
    color: white;
    font-family: 'Lobster';
    font-size: 24px;
    line-height: 0px;
}

.box-confirmar{
    border-radius: 5%;
    border: solid;
    border-color: #6504B5;
    background: white;
    width: 50rem;
    height: 15rem;
    padding: 30px 15px 15px 15px;
    margin: 15rem 5rem 0rem 5rem;
}
.box-botoes{
    margin-top: 8rem;
    align-items: center;
    display: flex;
}

button {
    margin-bottom: 15px;
    padding: 10px 0px 10px 5px;
    font-family: 'Roboto Slab';
    font-size: 100%;
    border-radius: 7px;
    width: 100%;
    color: white;
    background-color: #6504B5;
}

.box-mensagem{
    text-align: center;
}
.texto-botao{
    font-family: 'Lobster';
}

.texto-titulo {
    font-size: 2rem;
    font-style: bold;
}

.texto-mensagem{
    font-size: 1.5rem;
}