html,body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
} 

body {
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6504B5;
}

.pata {
    height: 60px;
    width: 60px;
    filter: invert(100);
}

header h2 {
    margin-left: 10px;
    line-height: 0;
    color: white;
    font-family: 'Lobster';
    font-size: 36px;
}

header a {
    padding-right: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lobster';
}

.nav {
    width: 100%;
    position: relative;
    justify-content: end;
    display: flex;
}

footer {
    flex-shrink: 0;
    position: initial;
    bottom:0;
    left:0;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #6504B5;
    color: blueviolet;
    text-align: center;
    line-height: 0;
}

.texto-botao {
    color: white;
}


button {
    margin-left: 13rem;
    padding: 10px 0px 10px 5px;
    font-family: 'Roboto Slab';
    font-size: 100%;
    border-radius: 7px;
    width: 50%;
    color: white;
    background-color: #6504B5;
}

.flex-container {
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
    margin-top: 8rem;
    display: flex;
    padding: 0rem 10rem 0rem 10rem;
}

a {
    text-decoration: none;
}

.flex-child {
    flex: 1;
    border: 2px solid #6504B5;
    border-radius: 5rem;
}  

.flex-child:first-child {
    margin-right: 20px;
    border: 0;
} 

button{
    margin-bottom: 20px;
}


.imagem-menino{
    margin-top: 50px;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    border: 1px solid #6504B5;
    box-shadow: 10px 10px 10px 5px #ccc;
}

.titulo{
    color:#6504B5;
    font-family: 'Lobster';
    font-size: 36px;
    text-align: center;
    padding-bottom: 5rem;
}
.texto-imagem{
    color:#6504B5;
    font-family: 'Lobster';
    font-size: 25px;
    text-align: center;
}

ul {
    color: white;
    line-height: 0;
    font-family: 'Lobster';
    font-size: 24px;
}
