html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}   

body {
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6504B5;
}

.pata {
    height: 60px;
    width: 60px;
    filter: invert(100);
}

footer {
    bottom:0;
    left:0;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #6504B5;
    color: blueviolet;
    text-align: center;
    line-height: 0;
}

header h2 {
    margin-left: 10px;
    line-height: 0;
    color: white;
    font-family: 'Lobster';
    font-size: 36px;
}

header a {
    padding-right: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lobster';
}

.nav {
    width: 100%;
    position: relative;
    justify-content: end;
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-right: 15vh;
}

.foto_mulher{
    border-radius: 50px;
    height: 50vh;
    width: 80vh;
    border: 2px solid #ca97f5;
}

.form {
    display : inline-block;

    padding-left: 15vh;
}

form label {
    font-family: 'Roboto Slab';
    font-size: 24px;
    color: #6504B5;
    line-break: normal;
}

form input {
    margin-top:3vh;
    font-size: 20px;
    width: 60vh;
    padding: 10px 0px 10px 5px;
    font-family: 'Roboto Slab';
    border-radius: 7px;
}

form a {
    text-decoration: none;
    font-family: 'Lobster';
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    color:white;
    border-radius: 50px;
    background-color: #6504B5;
}

.botoes{
    margin-top: 5vh;
}


footer {
    position: absolute;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    bottom: 0;
    background-color: #6504B5;
    color: blueviolet;
    text-align: center;
    line-height: 0;
}

ul {
    color: white;
    line-height: 0;
    font-family: 'Lobster';
    font-size: 24px;
}

