<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="./style.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    
</head>
<body>
    <header>
        <img class="pata" src="../tela_login/assets/pata_boa.png" alt="">
        <h2>Adote</h2>
        <nav class="navbar">
            <ul >
              <li style="display: inline;"><a style="text-decoration: none;color: white;" href="#">Home</a></li>
              <li style="display: inline;"><a style="text-decoration: none;color: white; margin-left: 10px;" href="#">Adote um Animal</a></li>
            </ul>
          </nav>
    </header>
    <div class="content">
      <img class="cachorro" src="./caxorro.jpg" alt="">
        <form method="POST" action="">
          <label>Insira seu Endereço:</label><br>
          <input type="text" placeholder="Digite seu endereço..." name="endereco">
          <div>
            <a class="botaoCadastroAnimal" href="../frontend/tela_login/login.html">Cadastre um animal</a>
            <a href="../frontend/tela_lista_animais/tela_lista_animais.html">Buscar</a>
          </div>
        </form>
    </div>
    <footer>
        <nav class="navbar">
            <ul >
              <li style="display: inline;"><a style="text-decoration: none;color: white;" href="#">Twitter</a></li>
              <li style="display: inline;"><a style="text-decoration: none;color: white; margin-left: 10px;" href="#">Instagram</a></li>
			  <li style="display: inline;"><a style="text-decoration: none;color: white; margin-left: 10px;" href="#">Facebook</a></li>
            </ul>
          </nav>
    </footer>
</body>
</html>