html,body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
} 

body {
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6504B5;
}

.pata {
    height: 60px;
    width: 60px;
    filter: invert(100);
}

header h2 {
    margin-left: 10px;
    line-height: 0;
    color: white;
    font-family: 'Lobster';
    font-size: 36px;
}

header a {
    padding-right: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lobster';
}

.nav {
    width: 100%;
    position: relative;
    justify-content: end;
    display: flex;
}

footer {
    flex-shrink: 0;
    position: initial;
    bottom:0;
    left:0;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #6504B5;
    color: blueviolet;
    text-align: center;
    line-height: 0;
}


#content {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 15vh;
    margin-right: 15vh;
    padding: 10px;
    margin-bottom: 100px;
}


.gato{
    border-radius: 50px;
    height: 40%;
    width: 40%;
    margin: 2% 0% 0% 5%;
    border: 2px solid #ca97f5;
}

form{
    text-decoration: none;
    font-family: 'Roboto Slab';
    margin-top: 15px;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    color:#6504B5;
    border-radius: 50px;
    background-color: #e2c1fd;
}

h4{
    font-family: 'Roboto Slab';
}

form a {
    text-decoration: none;
    font-family: 'Lobster';
    margin-left: 80%;
    margin-bottom: 5%;
    width: 50%;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    color:white;
    border-radius: 50px;
    background-color: #6504B5;
}


ul {
    color: white;
    line-height: 0;
    font-family: 'Lobster';
    font-size: 24px;
}



